#profile_display {
  display: block;
  width: 20%;
  margin: 10px auto;
  border-radius: 50%;
}

#page-header-notifications-dropdown {
  overflow: inherit;
}

@media (min-width: 1200px) {
  body .container-fluid {
    max-width: 90% !important;
  }
}
